# Entorno virtual
venv/

# Archivos de base de datos
*.sqlite3

# Archivos de configuración local
*.env

# Archivos compilados
*.pyc
__pycache__/

# Archivos de log
*.log

# Archivos de caché
.cache/

# Migraciones
migrations/

# Archivos estáticos
media/

# Imagen Qrgit log
registro_qr.png

*generate_qr.py