{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="card bg-white text-secondary text-center mb-5 mt-5">
    <h2>Login</h2>
</div>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-secondary">Login</button>
</form>
<div class="card bg-white text-center mt-3">
    <p>¿No tienes cuenta? 👉 <a href="{% url 'citas:register' %}">Registrarse</a></p>
    <p>¿Olvidaste tu contraseña? 👉 <a href="{% url 'password_reset' %}">Recuperar Contraseña</a></p>
</div>
{% endblock %}
