{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="card shadow bg-light text-center text-secondary mb-3">
  <h2>Editar Cita</h2>
</div>
<div class="container mt-5">
    <form method="post">
        {% csrf_token %}

        <!-- Mostrar errores del formulario -->
        {% if form.errors %}
        <div class="alert alert-danger text-center">
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <!-- Mostrar campos del formulario sin mostrar errores por defecto -->
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }} 
                {{ field }}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-secondary">Guardar cambios</button>
    </form>
</div>
<script>
    const fechasOcupadas = {{ fechas_ocupadas|safe }};
</script>
<script src="{% static 'js/disableDates.js' %}"></script>
{% endblock %}
