{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="card shadow bg-light text-center text-secondary mb-3">
  <h2>Editar Cita</h2>
</div>
<div class="container mt-5">
    <form method="post">
        {% csrf_token %}
        
        {% if form.non_field_errors %}
        <div class="alert alert-error">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        {% if form.errors %}
        <div class="alert alert-error">
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                    <div>
                        {{ error }}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}

        <!-- Mostrar campos del formulario sin errores debajo -->
        {% for field in form %}
            <div class="form-group {% if field.errors %}is-invalid{% endif %}">
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-secondary">Reservar</button>
    </form>
</div>
<script>
    const fechasOcupadas = {{ fechas_ocupadas|safe }};
</script>
<script src="{% static 'js/disableDates.js' %}"></script>
{% endblock %}
