{% extends "base.html" %}

{% block title %}Mis Citas{% endblock %}

{% block content %}
    <div class="container mt-5 mb-5">
        <div class="container mt-3">
            <!-- Mostrar mensajes de éxito o error -->
            {% if messages %}
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12"> 
                            {% for message in messages %}
                                <div class="alert {% if message.tags == 'error' %}alert-error{% else %}alert-success{% endif %} alert-dismissible fade show text-center" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        
        <div class="card shadow bg-light text-center text-secondary mb-3">
            <h2>Citas programadas de {{ user.username }}</h2>
        </div>

        {% if citas %}
        <h2 class="mt-5">Mis citas</h2>

        <div class="row g-4">
            {% if citas|length == 1 %}
                <!-- Si solo hay una cita, ocupará todo el ancho del contenedor -->
                <div class="col-12">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ citas.0.servicio.nombre }}</h5>
                            <p class="card-text"><strong>Fecha:</strong> {{ citas.0.fecha }}</p>
                            <p class="card-text"><strong>Hora:</strong> {{ citas.0.hora }}</p>
                            <p class="card-text"><strong>Comentario:</strong> {{ citas.0.comentario }}</p>
                            <div class="d-flex justify-content-between align-items-center mt-3">

                                <a href="{% url 'citas:editar_cita' citas.0.id %}" class="btn btn-primary">Editar</a>
                                
                                <a href="{% url 'citas:eliminar_cita' citas.0.id %}" class="btn btn-danger">Eliminar</a>
                            </div>                            
                        </div>
                    </div>
                </div>
            {% else %}
                {% for cita in citas %}
                <div class="col-12 col-md-6 col-lg-4 mt-5">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ cita.servicio.nombre }}</h5>
                            <p class="card-text"><strong>Fecha:</strong> {{ cita.fecha }}</p>
                            <p class="card-text"><strong>Hora:</strong> {{ cita.hora }}</p>
                            <p class="card-text"><strong>Comentario:</strong> {{ cita.comentario }}</p>
                            <div class="mt-auto d-flex justify-content-between">

                                <a href="{% url 'citas:editar_cita' cita.id %}" class="btn btn-primary">Editar</a>
                                
                                <a href="{% url 'citas:eliminar_cita' cita.id %}" class="btn btn-danger">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        {% else %}
        <p class="text-center">No tienes citas programadas.</p>
        {% endif %}
    </div>
{% endblock %}
